# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Distribución / packaging
dist/
build/
*.egg-info/
